<h1>Register</h1>
<form action="/register" method="POST">
   <input type="text" name="name" placeholder="ingrese nombre" > 
   <input type="text" name="email" placeholder="ingrese email" > 
   <input type="text" name="password" placeholder="ingrese password" > 
   <button>Enviar</button>
</form>
